# Telegram Bot sozlamalari
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz
ADMINS=143547381,123456789
IP=127.0.0.1
PORT=8000

# Web App sozlamalari
WEB_APP_URL=http://localhost:8000/app
ADMIN_APP_URL=http://localhost:8000/admin
WEB_HOST=0.0.0.0
WEB_PORT=8000

# Database
DB_URL=sqlite+aiosqlite:///data/stellar.db
